:root {
  --accent-color: #2196f3;
  --accent-button-color: #ffffff;
  --accent-button-bg-color: #2196f3;
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --bg-color-dark: #2f303a;
  --bg-color-blue: #2196f3;
  --bg-color-gray: #f5f4fa;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.2;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  letter-spacing: 0.02em;
}
/* ============================= current page ====================== */
.page {
  display: block;
  position: relative;

  color: #2196f3;
}
.page::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #2196f3;
}
/* =================== header =========================== */
header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .link {
  letter-spacing: 0.02em;
}
.header-container {
  display: flex;
}
.header-flex {
  display: flex;
  align-items: center;
}
.margin {
  margin-left: auto;
}
/* ==================== header logo ===================== */
.header-address + .header-address-flex {
  margin-left: 50px;
}
.header-logo {
  margin-right: 93px;

  color: var(--color-blue);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
}
/* ==================== span header-logo ===================== */
.header-logo span {
  color: #000000;
}

/* ========================= nav ===================== */
.header-item {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  color: #212121;
}
.header-link:hover,
.header-link:focus,
.header-address:hover,
.header-address:focus {
  color: var(--accent-color);
}
/* ====================== header address ============================ */
.header-address {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;

  color: #757575;
}
.header-address:not(:last-child) {
  margin-right: 30px;
}
.header-address:hover,
.header-address:focus {
  cursor: pointer;
  color: var(--accent-color);
}
.header-address-svg {
  margin-right: 10px;

  width: 16px;
  height: 12px;
  fill: #757575;
}
.header-address:hover .header-address-svg,
.header-address:focus .header-address-svg {
  cursor: pointer;
  fill: var(--accent-color);
}
/* ============================ portfolio =========================== */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ============================ filters =========================== */
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}
.filters-btn {
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  padding: 6px 22px;
  min-width: 73px;
  height: 38px;

  color: #212121;
  background-color: var(--bg-color-gray);
}
.filters-btn:hover,
.filters-btn:focus {
  cursor: pointer;
  color: var(--accent-button-color);
  background-color: var(--accent-button-bg-color);
}
/* =========================== projects =========================== */
.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects-item {
  position: relative;

  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid #eeeeee;

  width: calc((100% - 60px) / 3);
}
.projects-item:nth-child(3n) {
  margin-right: 0;
}
.projects-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-item:hover .projects-transform-text {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.projects-opacity {
  position: relative;
  /* overflow: hidden; */
}
.projects-img {
  display: block;
}
.projects-transform-text {
  opacity: 0;
  visibility: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  color: #ffffff;
  background-color: var(--accent-color);
}
.group {
  padding-right: 24px;
  padding-left: 24px;
}
.title {
  margin-bottom: 4px;

  color: var(--color-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text {
  color: var(--color-gray);
}
/* ========================= footer ============================ */
footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-color-dark);
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
/* ===================== footer-logo ========================= */
.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--color-blue);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
}
.footer-logo span {
  color: var(--color-white);
}
/* ===================== footer address ========================= */
address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.address-container {
  min-width: 231px;
  margin-right: 70px;
}
.address {
  display: block;
  margin-bottom: 9px;

  color: var(--color-white);
}
/* ===================== footer email tel ========================= */
.footer-address {
  display: block;
  margin-right: 70px;

  color: rgba(255, 255, 255, 0.6);
}
.footer-address:not(:last-child) {
  margin-bottom: 9px;
}
/* ====================== join title ================================ */
.join-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  color: var(--color-white);
}
/* ==================== join list =================================== */
.join-list {
  display: flex;
}
.join-item:not(:last-child) {
  margin-right: 10px;
}
.join-link {
  display: flex;
  border-radius: 50%;

  padding: 12px;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
}
.join-link:hover,
.join-link:focus {
  cursor: pointer;

  background-color: var(--accent-color);
}
.join-svg {
  width: 20px;
  height: 20px;

  fill: var(--color-white);
}
